<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--
Create a file named "Private.config" that contains the following xml, with your keys populated.
Set the "Copy to Output Directory" property to the value "Copy if newer".
Do not commit Private.config to source control!

<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="pubKey" value="Your Publish Key Here"/>
  <add key="subKey" value="Your Subscribe Key Here"/>
</appSettings>
-->
  <appSettings file="Private.config">
    <add key="channel" value="demo.1"/>
  </appSettings>
</configuration>